* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {

  height: 100%;
  width: 100%;
  position: relative;
}

html {
  background-color: #131419;
}

main {
  position: relative;
}

#Canvas-elemm::after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  background-image: url(./background-l.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.images{
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear ;
  }
}
main:has(#section-2 .title:hover) #Canvas-elemm::after {
  opacity: 0;
}
main:has(#section-2 .title[img-title="tomorrowland"]:hover) .images #tomorrowland {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title="navy-pier"]:hover) .images #navy-pier {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title="msi-chicago"]:hover) .images #msi-chicago {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title="phone"]:hover) .images #phone {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title="kikk"]:hover) .images #kikk {
  opacity: 1;
  background-color: rgba(1, 15, 92, 0.679);
}
main:has(#section-2 .title[img-title="kennedy"]:hover) .images #kennedy {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}
main:has(#section-2 .title[img-title="opera"]:hover) .images #opera {
  opacity: 1;
  background-color: rgb(176, 4, 4);
}
section {
  height: 100vh;
  width: 100%;
  z-index: 3;
  position: relative;
}

main {
  position: relative;
  #hore-img-porfolio{
  position: relative;
  margin-left: 20px;
  height: 100px;
  width: 100px;
  margin-top: 50px;
  z-index: 5;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    height: 130%;
    width: 130%;
  }
  }
}
#navbar-contain {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: end;
  flex-direction: row;

  #resume {
    color: #fff;
    padding: 1px 1px;
    margin-top: 5px;
    margin-right: 3vw;
    z-index: 6;
    border-bottom: 2px solid #f7f7f7;
  }

  #resume:hover {
    cursor: pointer;
  }
}


#section-1 {
  #hore-text-larest h1 {
    font: lighter;
    font-size: 5vw;
  }
  #hore-text-larest{
    margin-top: -110px;
  }
  #hore-text-smallest h3 {
    font: lighter;
  }

  #hore-text-smallest h6 {
    color: rgba(160, 168, 220, 0.7);
  }
}

#section-2 {
  .titles {
    display: flex;
    flex-direction: column;
    padding-left: 17rem;
    margin-block: 10rem;

    .title {
      display: flex;
      gap: 4rem;
      opacity: 0.3;
      padding-block: 2rem;
      transition: all 0.3s linear;
      cursor: pointer;

      h1 {
        font-size: 4.5rem;
        font-weight: 100;
        line-height: 1;
      }

      small {
        margin-top: 0.6rem;
        font-size: 0.5rem;
      }

    }

    .title:hover {
      opacity: 1;
    }
  }
}

#section-3 {
  position: relative;
  z-index: 1;
  margin-top:30vh;
  text-align: left;
  font-size: 3vw;

  #hore-text-dog {
    position: relative;
    z-index: 0;
  }
}

footer {
  position: relative;
  z-index: 3;
  height: 20vh;
  width: 100%;
  background-color: black;
  text-align: right;
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 20px 30px;

  h3 {
    font: 100;
  }
}